header nav ul li{
    list-style: none;
    
}
/* header nav div{
    padding: 1%;
} */
header nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
}
header nav ul li a:hover{
    color: rgb(64, 64, 206);
    background-color: white;
    font-weight: bolder;
}
header nav {
    height: 7vh;
    background-color: rgb(64, 64, 206);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
}
header nav ul{
    display: flex;
    margin-bottom:3.5% ;
}
 
.flip_img img{
    margin: 4px  10px;
    width: 100px;
}

.search1{
    display: flex;
    /* margin-left: -70%; */
    margin-bottom: 1.5%;
    margin-top: 0%;
    width: 30vw;
    height: 30px;
} 
.search{
    display: flex;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 25px;
    margin-left: 10px;
    margin-top: 4%;
    border: 3px solid white;
    border-radius: 15%;
}
